@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.content {
  font-family: "Montserrat", sans-serif;
  background: #1c1c1c;
  color: white;
  min-height: 100vh;
  border-left: 20px solid rgb(255, 222, 0);
}
.dark {
  background: #1c1c1c;
  color: rgb(250, 250, 250);
}
.white {
  background: rgb(250, 250, 250);
  color: #1c1c1c;
}

.custom-navbar {
  display: flex;
  flex-direction: row;
  /* justify-self: stretch; */
  /* align-content: flex-end; */
  justify-content: flex-end;
  align-items: center;
  /* flex-direction: row; */
}
.custom-nav-item {
  padding: 5px;
}
.custom-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.custom-card-item {
  padding: 15px;
  color: black;
}

.buttons-container {
  display: flex;
  /* justify-content: space-evenly; */
}
.custom-search-box {
  margin-bottom: 75px;
}
